Q-1 Write a python program which searches all the product under a particular product from www.amazon.in. The
product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for
guitars.

In [71]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

In [72]:
# activating the browser
driver = webdriver.Chrome()

In [73]:
    # Open the search URL
driver.get("https://www.amazon.in")

In [74]:
product_name = input("Enter the product you want to search on https://www.amazon.in: ")
search_box=driver.find_element(By.XPATH,"//*[@id='twotabsearchtextbox'] ")

Enter the product you want to search on https://www.amazon.in: guitar

In [75]:
search_box.click()

In [76]:
search_box.send_keys(product_name)
search_button = driver.find_element(By.XPATH,"//input[@type='submit']")

In [77]:
#sleep(10)
search_button.click()

Q-2 In the above question, now scrape the following details of each product listed in first 3 pages of your search
results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then
scrape all the products available under that product name. Details to be scraped are: "Brand
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [79]:
#scrape all urls
product_urls=[]
start=0
end=3
for page in range(start,end):
    print('scraping page', page+1)
    url=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    for i in url:
          product_urls.append(i.get_attribute("href"))
    next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    next_button.click()
    time.sleep(2)

scraping page 1
scraping page 2
scraping page 3

In [80]:
len(product_urls)

173

In [89]:
#Creating Empty List for different attributes-
Brand_name=[]
name_of_the_Product=[]
price=[]
return_Exchange=[]
expected_Delivery=[]
availability=[]
Product_URL=[]

In [90]:
for url in product_urls:
    driver.get(url)
    time.sleep(2)
    
    
    try:
        brand=driver.find_element(By.XPATH,'//*[@id="productOverview_feature_div"]/div/div[1]/span[2]')
        Brand_name.append(brand.text)
    except NoSuchElementException:
        Brand_name.append('-')
        
    try:
        product=driver.find_element(By.XPATH,'//*[@id="productTitle"]')
        name_of_the_Product.append(product.text)
    except NoSuchElementException:
        name_of_the_Product.append('-')    
        
    try:
        Price=driver.find_element(By.XPATH,'//*[@id="corePriceDisplay_desktop_feature_div"]/div[1]/span[2]/span[2]/span[2]')
        price.append(Price.text)
    except NoSuchElementException:
        price.append('-')  
    try:
        return_Ex=driver.find_element(By.XPATH,'//*[@id="RETURNS_POLICY"]/span/div[2]/span')
        return_Exchange.append(return_Ex.text)
    except NoSuchElementException:
        return_Exchange.append('-')  
    try:
        expected_Del=driver.find_element(By.CLASS_NAME,'a-text-bold')
        expected_Delivery.append(expected_Del.text)
    except NoSuchElementException:
        expected_Delivery.append('-')  
    try:
        availb=driver.find_element(By.XPATH,'//*[@id="availability"]/span')
        availability.append(availb.text)
    except NoSuchElementException:
        availability.append('-')  
        
    try:
        product_URL=driver.find_element(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
        Product_URL.append(product_URL.text)
    except NoSuchElementException:
        Product_URL.append('-')

In [ ]:
# Scraping Data for different Attributes-
brand_tags = driver.find_elements(By.XPATH,'///*[@id="productOverview_feature_div"]/div/div[1]/span[2]')
for i in brand_tags[0:10]:
    brand=i.text
    brand_Name.append(brand)


name_tags = driver.find_elements(By.XPATH,'//*[@id="productTitle"]')
for i in name_tags[0:10]:
    name=i.text
    name_of_the_Product.append(name)
    

price_tags = driver.find_elements(By.XPATH,'//*[@id="corePriceDisplay_desktop_feature_div"]/div[1]/span[2]/span[2]/span[2]')  
for i in price_tags[0:10]:
    pr=i.text
    price.append(pr)   
    
    
return_Exchange_tags = driver.find_elements(By.XPATH,'//*[@id="RETURNS_POLICY"]/span/div[2]/span')  
for i in return_Exchange_tags[0:10]:
    ret_ex=i.text
    return_Exchange.append(ret_ex)

expected_Delivery_tags = driver.find_elements(By.CLASS_NAME,'a-text-bold')  
for i in expected_Delivery_tags[0:10]:
    ex_del=i.text
    expected_Delivery.append(ex_del)

availability_tags = driver.find_elements(By.XPATH,'//*[@id="availability"]/span')  
for i in availability_tags[0:10]:
    availb=i.text
    availability.append(availb)

Product_URL = driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')  
for i in Product_URL[0:10]:
    pu=i.text
    Product_URL.append(pu)

In [ ]:
Brand_name=[]
name_of_the_Product=[]
price=[]
return_Exchange=[]
expected_Delivery=[]
availability=[]
Product_URL=[]

In [98]:
df = pd.DataFrame({'Brand':Brand_name,'product': name_of_the_Product,'Price':price,'returnpolicy':return_Exchange,'availability':availability,'url':Product_URL})
df

,Brand,product,Price,returnpolicy,availability,url
0,REVEL,Revel Acoustic Guitar with Carry bag and Plect...,"1,999",7 days Replacement,In stock,-
1,DEVICE OF URBAN INFOTECH,DEVICE OF URBAN INFOTECH 40 inch Acoustic Guit...,"5,449",7 days Returnable,In stock,-
2,Multi colour,Right Search ®Musical Guitar and Drum Combo Se...,"1,099",10 days Returnable,In stock,-
3,Swan7,Swan7 SW40C-AMH Brown Cutaway All Mahogany Bod...,"6,249",7 days Replacement,Only 2 left in stock,-
4,VAULT,Vault Junior 30 Inch Acoustic Guitar for Kids ...,"3,799",7 days Replacement,In stock,-
...,...,...,...,...,...,...
168,Belear,Belear I-280-WBR 38 Inch Dual Action Truss Rod...,"2,999",7 days Replacement,In stock,-
169,Blueberry,"Blueberry, VIP 341, 34 Inch Sapele Natural Woo...","3,290",7 days Replacement,Only 1 left in stock,-
170,Fender,Fender CD 60 Dread V3 DS 6 String Acoustic Gui...,"13,499",7 days Replacement,In stock,-
171,YAMAHA,"Yamaha F310, 6-Strings Acoustic Guitar, (YAMAH...","10,499",7 days Replacement,Only 1 left in stock,-
172,Kadence,"Kadence Acoustica Series, Semi Acoustic Guitar...","7,199",7 days Replacement,In stock,-

Q-3 Write a python program to access the search bar and search button on images.google.com and scrape 10
images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [215]:
import os
import time
import requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
from selenium.webdriver.chrome.service import Service
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [198]:
driver=webdriver.Chrome()

In [199]:
driver.get("http://images.google.com")

In [201]:
search_box= driver.find_element(By.CLASS_NAME,"gLFyf")

In [202]:
search_box.click()

In [203]:
search_box.send_keys('fruits')

In [204]:
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')

In [205]:
search_button.click()

In [222]:
for _ in range(20):
    driver.execute_script("window.scrollBy(0,100)")
images=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')

img_urls=[]
for image in images:
    source=image.get_attribute('src')
    if source is not None:
        if(source[0:4] == "http"):
            img_urls.append(source)
for i in range(len(img_urls)):
    if i>10:
        break#By.XPATH,
    print("Downloading {0} of {1} images".format(i,10))
    response=requests.get(img_urls[i])
    file=open(r"C:\Users\User\Desktop\New folder"+str(i)+".jpg","wb")
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [227]:
file=open(r"C:\Users\User\Desktop\New folder"+str(i)+".jpg","wb")
file.write(response.content)
file

Q-4 Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com
and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand
Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”,
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the
details is missing then replace it by “- “. Save your results in a dataframe and CSV

In [29]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

In [71]:
driver=webdriver.Chrome()

In [72]:
driver.get("http://www.flipkart.com")

In [73]:
close_button= driver.find_element(By.XPATH,"/html/body/div[3]/div/span")

In [74]:
close_button.click()

In [75]:
search_box= driver.find_element(By.CLASS_NAME,"Pke_EE       ")

In [76]:
search_box.click()

In [77]:
search_box.send_keys('Oneplus Nord')

In [78]:
search_button=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')

In [79]:
search_button.click()

In [80]:
#scrape all urls
product_urls=[]
start=0
end=1
for page in range(start,end):
    print('scraping page', page+1)
    url=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
    for i in url:
          product_urls.append(i.get_attribute("href"))
    #next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    #next_button.click()
    time.sleep(2)

scraping page 1

In [81]:
Brand_Name=[]
smartphone_name=[]
color=[]
ram=[]
storage_ROM=[]
primary_camera=[]
secondary_camera=[]
display_size=[]
battery_capacity=[]
price=[]
product_url=[]

In [92]:
for url in product_urls:
    driver.get(url)
    time.sleep(2)
    
    
    try:
        brand=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/h1/span')
        Brand_Name.append(brand.text[0:7])
    except NoSuchElementException:
        Brand_Name.append('-')
        
    try:
        smartphone=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div/div[1]/table/tbody/tr[3]/td[2]/ul/li')
        smartphone_name.append(smartphone.text)
    except NoSuchElementException:
        smartphone_name.append('-')    
        
    try:
        Color=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[1]/table/tbody/tr[4]/td[2]/ul/li')
        color.append(Color.text)
    except NoSuchElementException:
        color.append('-')  
    try:
        read_more=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/button')
        read_more.click()
        RAM=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[4]/table/tbody/tr[2]/td[2]/ul/li')
        ram.append(RAM.text)
    except NoSuchElementException:
        ram.append('-')  
    try:
        read_more=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/button')
        read_more.click()
        ROM=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[4]/table/tbody/tr[1]/td[2]/ul/li')
        storage_ROM.append(ROM.text)
    except NoSuchElementException:
        storage_ROM.append('-')  
    try:
        read_more=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/button')
        read_more.click()
        p_camera=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[5]/table/tbody/tr[1]/td[2]/ul/li')
        primary_camera.append(p_camera.text)
    except NoSuchElementException:
        primary_camera.append('-')  
        
    try:
        read_more=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/button')
        read_more.click()
        s_camera=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[5]/table/tbody/tr[2]/td[2]/ul/li')
        secondary_camera.append(s_camera.text)
    except NoSuchElementException:
        secondary_camera.append('-')
    try:
        read_more=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/button')
        read_more.click()
        d_size=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[2]/ul/li')
        display_size.append(d_size.text)
    except NoSuchElementException:
        display_size.append('-') 
        
    try:
        read_more=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/button')
        read_more.click()
        battery=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[7]/table/tbody/tr/td[2]/ul/li')
        battery_capacity.append(battery.text)
    except NoSuchElementException:
        battery_capacity.append('-')  
    try:
        Price=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div[3]/div[1]/div/div[1]')
        price.append(Price.text)
    except NoSuchElementException:
        price.append('-')  
    try:
        url=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a')
        product_url.append(url.get_attribute('href').text)
    except NoSuchElementException:
        product_url.append('-')

In [93]:

Brand_Name_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div[1]/h1/span')
for i in Brand_Name_tags:
    brand=i.text
    Brand_Name.append(brand)
    
smartphone_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div/div[1]/table/tbody/tr[3]/td[2]/ul/li')
for i in smartphone_tags:
    name=i.text
    smartphone_name.append(name)
    

color_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[3]/div[1]/div[1]')  
for i in color_tags:
    co_lr=i.text
    color.append(co_lr)   
    
    
ram_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[3]/div[1]/div[3]/ul/li[1]')  
for i in ram_tags:
    ra_m=i.text
    ram.append(ra_m)

storage_ROM_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[3]/div[1]/div[3]/ul/li[1]')  
for i in storage_ROM_tags :
    rom=i.text
    storage_ROM.append(rom)

primary_camera_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/div[1]/div[5]/table/tbody/tr[2]/td[2]/ul/li')  
for i in primary_camera_tags:
    p_camera=i.text
    primary_camera.append(p_camera)
    
secondary_camera_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[3]/div[1]/div[3]/ul/li[3]')  
for i in secondary_camera_tags:
    s_camera=i.text
    secondary_camera.append(s_camera)

display_size_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[8]/div[4]/div/div[2]/div[1]/div[2]/table/tbody/tr[1]/td[2]/ul/li')  
for i in display_size_tags:
    d_size=i.text
    display_size.append(d_size)
    
battery_capacity_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[3]/div[1]/div[3]/ul/li[4]')  
for i in battery_capacity_tags:
    batt_c=i.text
    battery_capacity.append(batt_c)

price_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[3]/div[2]/div[1]/div[1]/div[1]')  
for i in price_tags:
    Price=i.text
    price.append(Price)
    
product_url_tags = driver.find_elements(By.XPATH,'//*[@id="availability"]/span')  
for i in product_url_tags:
    url=i.text
    product_url.append(url)

In [94]:
len(ram)

52

In [95]:
df = pd.DataFrame({'Brand': Brand_Name[0:26],'smartphone':smartphone_name[0:26],'Color':color[0:26],'RAM':ram[0:26],'ROM':storage_ROM[0:26], 
                   'Primarycamera':primary_camera[0:26],'Secondarycamera':secondary_camera[0:26],'Display':display_size[0:26],
                        'Battery':battery_capacity[0:26],'Price':price[0:26],'url':product_url[0:26]})
df

,Brand,smartphone,Color,RAM,ROM,Primarycamera,Secondarycamera,Display,Battery,Price,url
0,OnePlus,-,-,-,-,-,-,16.74 cm (6.59 inch),-,-,-
1,OnePlus,-,-,-,-,-,-,17.07 cm (6.72 inch),-,"₹21,987",-
2,OnePlus,-,-,-,-,-,-,16.74 cm (6.59 inch),-,-,-
3,OnePlus,-,-,-,-,-,-,17.07 cm (6.72 inch),-,"₹21,987",-
4,OnePlus,-,-,-,-,-,-,16.74 cm (6.59 inch),-,-,-
5,OnePlus,-,-,-,-,-,-,17.07 cm (6.72 inch),-,"₹21,987",-
6,OnePlus,-,-,-,-,-,-,-,-,-,-
7,OnePlus,-,-,-,-,-,-,17.07 cm (6.72 inch),-,"₹19,946",-
8,OnePlus,-,-,-,-,-,-,17.07 cm (6.72 inch),-,"₹21,986",-
9,OnePlus,-,-,-,-,-,-,17.02 cm (6.7 inch),-,-,-
10,OnePlus,-,-,-,-,-,-,17.02 cm (6.7 inch),-,"₹28,797",-
11,OnePlus,-,-,-,-,-,-,17.02 cm (6.7 inch),-,"₹28,898",-
12,OnePlus,-,-,-,-,-,-,17.12 cm (6.74 inch),-,-,-
13,OnePlus,-,-,-,-,-,-,17.12 cm (6.74 inch),-,-,-
14,OnePlus,-,-,-,-,-,-,17.12 cm (6.74 inch),-,-,-
15,OnePlus,-,-,-,-,-,-,17.12 cm (6.74 inch),-,-,-
16,OnePlus,-,-,-,-,-,-,17.02 cm (6.7 inch),-,"₹26,549",-
17,OnePlus,-,-,-,-,-,-,-,-,"₹28,999",-
18,OnePlus,-,-,-,-,-,-,-,-,"₹33,899",-
19,OnePlus,-,-,-,-,-,-,17.07 cm (6.72 inch),-,"₹21,980",-
20,OnePlus,-,-,-,-,-,-,-,-,"₹28,990",-
21,OnePlus,-,-,-,-,-,-,-,-,"₹33,188",-
22,OnePlus,-,-,-,-,-,-,-,-,"₹27,990",-
23,OnePlus,Nord CE 2 5G,Bahama Blue,-,,,,-,,"₹24,799",-
24,OnePlus,-,-,-,-,-,-,-,-,"₹24,990",-
25,OnePlus,-,-,-,-,-,-,-,-,"₹27,999",-

Q-5Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps

In [192]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By

# Initialize Chrome WebDriver (ensure you have Chrome WebDriver installed and in your PATH)
driver = webdriver.Chrome()

# Open Google Maps
driver.get("https://www.google.com/maps")

# Function to search for a city and extract coordinates
def search_city_and_extract_coordinates(city_name):
    # Find the search input field and enter the city name
    search_input = driver.find_element(By.ID, "searchboxinput")
    search_input.clear()
    search_input.send_keys(city_name)
    
    # Find and click the search button
    search_button = driver.find_element(By.ID, "searchbox-searchbutton")
    search_button.click()
    
    # Wait for the search results to load
    time.sleep(5)
    
    # Find and extract the coordinates from the URL
    current_url = driver.current_url
    coordinates = extract_coordinates_from_url(current_url)
    
    return coordinates

# Function to extract coordinates from a Google Maps URL
def extract_coordinates_from_url(url):
    # Example URL format: https://www.google.com/maps/place/LATITUDE,LONGITUDE
    parts = url.split("/place/New+York,+NY,+USA/@")[1].split(",")
    latitude = parts[0]
    longitude = parts[1]
    
    return latitude, longitude

# Input the city name you want to search for
city_name = "NewYork"  # Replace with the desired city name

# Search for the city and extract coordinates
latitude, longitude = search_city_and_extract_coordinates(city_name)

# Close the browser
#driver.quit()

# Print the extracted coordinates
print(f"City: {city_name}")
print(f"Latitude: {latitude}")
print(f"Longitude: {longitude}")

City: NewYork
Latitude: 40.6975399
Longitude: -74.3093436

In [ ]:
Q-6 Write a program to scrap all the available details of best gaming laptops from digit.in

In [1]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By

# Initialize Chrome WebDriver (ensure you have Chrome WebDriver installed and in your PATH)
driver = webdriver.Chrome()

# Open the Digit.in page for gaming laptops
driver.get("https://www.digit.in/top-products/best-gaming-laptops-40.html")

In [26]:
#scrape all urls
product_urls=[]
start=0
end=7
for product in range(start,end):
    #print('scraping page', 1)
    url=driver.find_elements(By.XPATH,'/html/body/div[1]/div[3]/div/div/article/div[6]/div/div[2]/div[1]/div/div/div/div[2]/div[2]/h3/a')
    for i in url:
          product_urls.append(i.get_attribute("href"))
    #next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    #next_button.click()
    time.sleep(2)

In [10]:
 url=driver.find_elements(By.XPATH,'//a[@class="font130 mt0 mb10 mobilesblockdisplay"]')

In [12]:
for url in product_urls:
    driver.get(url)
    time.sleep(2)

In [27]:
print(product_urls)

['https://www.digit.in/laptops/hp-omen-17-ck2008tx-13th-gen-core-i7-13700hx-price-346659.html', 'https://www.digit.in/laptops/hp-omen-17-ck2008tx-13th-gen-core-i7-13700hx-price-346659.html', 'https://www.digit.in/laptops/hp-omen-17-ck2008tx-13th-gen-core-i7-13700hx-price-346659.html', 'https://www.digit.in/laptops/hp-omen-17-ck2008tx-13th-gen-core-i7-13700hx-price-346659.html', 'https://www.digit.in/laptops/hp-omen-17-ck2008tx-13th-gen-core-i7-13700hx-price-346659.html', 'https://www.digit.in/laptops/hp-omen-17-ck2008tx-13th-gen-core-i7-13700hx-price-346659.html', 'https://www.digit.in/laptops/hp-omen-17-ck2008tx-13th-gen-core-i7-13700hx-price-346659.html']

In [32]:
for url in product_urls:
    driver.get(url)
    time.sleep(2)
    
    
    try:
        brand=driver.find_element(By.XPATH,'//*[@id="product-440223"]/div[1]/div[1]/h1')
        Name.append(brand.text)
    except NoSuchElementException:
        Name.append('-')
        
    try:
        Os=driver.find_element(By.XPATH,'//*[@id="section-additional_information"]/div[2]/table/tbody/tr[2]/td/table/tbody/tr[1]/td/p')
        Operating_system.append(Os.text)
    except NoSuchElementException:
        Operating_system.append('-')    
        
    try:
        display=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[1]/table/tbody/tr[4]/td[2]/ul/li')
        Display_size.append(display.text)
    except NoSuchElementException:
        Display_size.append('-')  
    try:
        Reslu=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[4]/table/tbody/tr[2]/td[2]/ul/li')
        Resolution.append(Reslu.text)
    except NoSuchElementException:
        Resolution.append('-')  
       
    try:
        processor=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[4]/table/tbody/tr[2]/td[2]/ul/li')
        Processor.append(processor.text)
    except NoSuchElementException:
        Processor.append('-')

In [31]:
Name = []
Operating_system=[]
Display_size=[]
Resolution=[]
Processor=[]

In [35]:
Name_tags = driver.find_elements(By.XPATH,'//*[@id="product-440223"]/div[1]/div[1]/h1')  
for i in Name_tags[0:1]:
    name=i.text
    Name.append(name)
    
Operating_system_tags = driver.find_elements(By.XPATH,'//*[@id="section-additional_information"]/div[2]/table/tbody/tr[2]/td/table/tbody/tr[1]/td/p')  
for i in Operating_system_tags[0:1]:
    Os=i.text
    Operating_system.append(Os)

Display_size_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[1]/table/tbody/tr[4]/td[2]/ul/li')  
for i in Display_size_tags[0:1]:
    display=i.text
    Display_size.append(display)


Resolution_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[4]/table/tbody/tr[2]/td[2]/ul/li')  
for i in Resolution_tags[0:1] :
    resolution=i.text
    Resolution.append(resolution)
    
Processor_tags = driver.find_elements(By.XPATH,'//*[@id="container"]/div/div[3]/div[1]/div[2]/div[7]/div[4]/div/div[2]/div[1]/div[4]/table/tbody/tr[2]/td[2]/ul/li')  
for i in Processor_tags[0:1] :
    processor=i.text
    Processor.append(processor)

In [43]:
df=pd.DataFrame({'name':Name[0:7],'OS':Operating_system[0:7],'Display':Display_size[0:7],'Resolution':Resolution[0:7],'processor':Processor[0:7]})
df

,name,OS,Display,Resolution,processor
0,HP Omen 17-Ck2008TX 13th Gen Core I7-13700HX,Windows 11 Home,-,-,-
1,HP Omen 17-Ck2008TX 13th Gen Core I7-13700HX,Windows 11 Home,-,-,-
2,HP Omen 17-Ck2008TX 13th Gen Core I7-13700HX,Windows 11 Home,-,-,-
3,HP Omen 17-Ck2008TX 13th Gen Core I7-13700HX,Windows 11 Home,-,-,-
4,HP Omen 17-Ck2008TX 13th Gen Core I7-13700HX,Windows 11 Home,-,-,-
5,HP Omen 17-Ck2008TX 13th Gen Core I7-13700HX,Windows 11 Home,-,-,-
6,HP Omen 17-Ck2008TX 13th Gen Core I7-13700HX,Windows 11 Home,-,-,-

Q-7 Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped:
“Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”

In [44]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [96]:
# Initialize Chrome WebDriver (ensure you have Chrome WebDriver installed and in your PATH)
driver = webdriver.Chrome()

In [97]:
# Open Forbes Billionaires page
driver.get("https://www.forbes.com/billionaires/")

In [4]:
# Function to scroll to the end of the page to load all billionaire entries
def scroll_to_end():
    driver.find_element(By.TAG_NAME, 'body').send_keys(Keys.END)
    time.sleep(2)

In [98]:
#empty list initialization
rank = []
name=[]
net_worth=[]
age=[]
citizenship=[]
source=[]
industry=[]

In [99]:
# Initialize empty list to store billionaire data

rank_tags = driver.find_elements(By.XPATH, '//*[@class="Table_rank___YBhk Table_dataCell__2QCve"]')  
for i in rank_tags[0:20]:
    Rank=i.text
    rank.append(Rank)
name_tags = driver.find_elements(By.XPATH, '//*[@id="bernard-arnault"]/div[3]/div')  
for i in name_tags[0:20]:
    Name=i.text
    name.append(Name)
net_worth_tags = driver.find_elementsname_tags = driver.find_elements(By.CLASS_NAME, 'Table_netWorth___L4R5 Table_dataCell__2QCve')   
for i in net_worth_tags[0:20]:
    Net_worth=i.text
    net_worth.append(Net_worth)
age_tags = driver.find_elements(By.XPATH, '//*[@class="Table_dataCell__2QCve"]')  
for i in age_tags[0:20]:
    Age=i.text
    age.append(Age)
citizenship_tags = driver.find_elements(By.XPATH, '//*[@class="TableRow_cell__db-hv Table_cell__houv9"]')  
for i in citizenship_tags[0:20]:
    citi_zen=i.text
    citizenship.append( citi_zen)
source_tags = driver.find_elements(By.XPATH, '//*[@class="TableRow_cell__db-hv Table_cell__houv9"]')  
for i in source_tags[0:20]:
    Source=i.text
    source.append(Source)
industry_tags = driver.find_elements(By.XPATH, '//*[@class="Table_dataCell__2QCve"]')  
for i in industry_tags[0:20]:
    Industry=i.text
    industry.append(Industry)

In [104]:
print(industry)

['Bernard Arnault & family', '74', 'LVMH', '', 'Elon Musk', '51', 'Tesla, SpaceX', '', 'Jeff Bezos', '59', 'Amazon', '', 'Larry Ellison', '78', 'Oracle', '', 'Warren Buffett', '92', 'Berkshire Hathaway', '']

In [101]:
len(name),len(rank),len(net_worth),len(age),len(citizenship),len(source),len(industry)

(20, 20, 0, 20, 20, 20, 20)

In [ ]:
#creating dataset
dataset=pd.DataFrame({'Rank':rank[0:20],'Name':name[0:20],'Net_worth':net_worth[0:20],'Age':age[0:20],'Citizenship':citizenship[0:20],'Source':source[0:20],'Industry':industry[0:20]})

In [95]:
#printing dataset
dataset

,Rank,Name,Net_worth,Age,Citizenship,Source,Industry
0,1,1,"[[[[[...], [...], [...], [...], [...], [...], ...",Bernard Arnault & family,1,1,
1,2,Bernard Arnault & family,"[[[[[...], [...], [...], [...], [...], [...], ...",74,Bernard Arnault & family,Bernard Arnault & family,Bernard Arnault & family
2,3,$211 B,"[[[[[...], [...], [...], [...], [...], [...], ...",LVMH,$211 B,$211 B,74
3,4,74,"[[[[[...], [...], [...], [...], [...], [...], ...",Fashion & Retail,74,74,LVMH
4,5,France,"[[[[[...], [...], [...], [...], [...], [...], ...",Elon Musk,France,France,Fashion & Retail
5,6,LVMH,"[[[[[...], [...], [...], [...], [...], [...], ...",51,LVMH,LVMH,Elon Musk
6,7,Fashion & Retail,"[[[[[...], [...], [...], [...], [...], [...], ...","Tesla, SpaceX",Fashion & Retail,Fashion & Retail,51
7,8,2,"[[[[[...], [...], [...], [...], [...], [...], ...",Automotive,2,2,"Tesla, SpaceX"
8,9,Elon Musk,"[[[[[...], [...], [...], [...], [...], [...], ...",Jeff Bezos,Elon Musk,Elon Musk,Automotive
9,10,$180 B,"[[[[[...], [...], [...], [...], [...], [...], ...",59,$180 B,$180 B,Jeff Bezos
10,11,51,"[[[[[...], [...], [...], [...], [...], [...], ...",Amazon,51,51,59
11,12,United States,"[[[[[...], [...], [...], [...], [...], [...], ...",Technology,United States,United States,Amazon
12,13,"Tesla, SpaceX","[[[[[...], [...], [...], [...], [...], [...], ...",Larry Ellison,"Tesla, SpaceX","Tesla, SpaceX",Technology
13,14,Automotive,"[[[[[...], [...], [...], [...], [...], [...], ...",78,Automotive,Automotive,Larry Ellison
14,15,3,"[[[[[...], [...], [...], [...], [...], [...], ...",Oracle,3,3,78
15,16,Jeff Bezos,"[[[[[...], [...], [...], [...], [...], [...], ...",Technology,Jeff Bezos,Jeff Bezos,Oracle
16,17,$114 B,"[[[[[...], [...], [...], [...], [...], [...], ...",Warren Buffett,$114 B,$114 B,Technology
17,17,59,"[[[[[...], [...], [...], [...], [...], [...], ...",92,59,59,Warren Buffett
18,19,United States,"[[[[[...], [...], [...], [...], [...], [...], ...",Berkshire Hathaway,United States,United States,92
19,20,Amazon,"[[[[[...], [...], [...], [...], [...], [...], ...",Finance & Investments,Amazon,Amazon,Berkshire Hathaway

Q-8 Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted
from any YouTube Video

In [27]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import pandas as pd

In [28]:
# URL of the YouTube video you want to scrape comments from
video_url = "https://www.youtube.com/watch?v=vhwr4vc_GY0"

In [29]:
# Initialize Chrome WebDriver (ensure you have Chrome WebDriver installed and in your PATH)
driver = webdriver.Chrome()

In [30]:
# Open the YouTube video page
driver.get(video_url)

In [36]:
for _ in range(5000):
    driver.execute_script("window.scrollBy(0,7000)")

while True:
    try:
        # Locate the "Show more" button and click it to load more comments
        show_more_button = driver.find_element(By.XPATH, "//yt-formatted-string[contains(text(), 'Show more')]")
        show_more_button.click()
        time.sleep(2)  # Wait for comments to load
    except Exception as e:
        break  # If no more comments to load, exit the loop

In [37]:
# Initialize empty lists to store comments, upvotes, and timestamps
comments = []
upvotes = []
timestamps = []

In [38]:
    
    try:
        Comment=driver.find_element(By.XPATH,'//*[@id="content-text"]/span')
        comments.append(Comment.text)
    except NoSuchElementException:
        comments.append('-')
        
    try:
        upvote=driver.find_element(By.XPATH,'//*[@id="vote-count-middle"]')
        upvotes.append(upvote.text)
    except NoSuchElementException:
        upvotes.append('-') 
    try:
        ts=driver.find_element(By.XPATH,'//*[@id="header-author"]/yt-formatted-string/a')
        timestamps.append(ts.text)
    except NoSuchElementException:
        timestamps.append('-')

In [43]:
#store data in list
comment_tags = driver.find_elements(By.XPATH,'//*[@id="content-text"]')  
for i in comment_tags:
    comment=i.text[0:10]
    comments.append(comment)
upvotes_tags = driver.find_elements(By.XPATH,'//*[@id="vote-count-middle"]') 
for i in upvotes_tags:
    upvote=i.text[0:10]
    #upvote.replace('','-')
    upvotes.append(upvote)
timestamps_tags = driver.find_elements(By.XPATH,'//*[@id="header-author"]/yt-formatted-string/a') 
for i in timestamps_tags:
    timestamp=i.text[0:10]
    timestamps.append(timestamp)

In [47]:
#creating dataframe
df=pd.DataFrame({'Comment':comments[0:500],'upvote':upvotes[0:500],'Time':timestamps[0:500]})
df

                                Comment upvote         Time
0    Click Here to Subscribe Channel :     623  1 month ago
1                            Click Here    623   1 month ag
2                            Tara Singh   6.4K   2 months a
3                            I was 9 ye    427   1 month ag
4                            Only 80,s     233   1 month ag
..                                  ...    ...          ...
495                          Ghoosebumb          2 months a
496                          Eagerly aw      1   1 month ag
497                                              1 month ag
498                          I think th      4   1 month ag
499                          अगर इस मूव          1 month ag

[500 rows x 3 columns]

Q-9 Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in
“London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall
reviews, privates from price, dorms from price, facilities and property description

In [179]:
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import pandas as pd
# Initialize Chrome WebDriver (ensure you have Chrome WebDriver installed and in your PATH)
driver = webdriver.Chrome()

# Define the URL for London hostels on Hostelworld
url = "https://www.hostelworld.com/s?q=London,%20England&country=England&city=London&type=city&id=3"

# Open the URL in the browser
driver.get(url)

In [180]:
#Function to scroll to the bottom of the page to load more hostels
for _ in range(20):
    driver.execute_script("window.scrollBy(0,100)")

In [181]:
#creating empty list
hostel_name=[]
distance_frm_citycentre=[]
rating=[]
total_reviews=[]
overall_reviews=[]
privates_from_price=[]
dorms_from_price=[]
property_description=[]

In [182]:
    try:
        name=driver.find_element(By.XPATH,'//*[@id="content-text"]/span')
        hostel_name.append(name.text)
    except NoSuchElementException:
        hostel_name.append('-')
        
    try:
        distance=driver.find_element(By.XPATH,'//*[@id="vote-count-middle"]')
        distance_frm_citycentre.append(distance.text)
    except NoSuchElementException:
        distance_frm_citycentre.append('-') 
    try:
        Rating=driver.find_element(By.XPATH,'//*[@id="header-author"]/yt-formatted-string/a')
        rating.append(Rating.text)
    except NoSuchElementException:
        rating.append('-') 
    try:
        t_reviews=driver.find_element(By.XPATH,'//*[@id="header-author"]/yt-formatted-string/a')
        total_reviews.append(t_reviews.text)
    except NoSuchElementException:
        total_reviews.append('-') 
    try:
        o_reviews=driver.find_element(By.XPATH,'//*[@id="header-author"]/yt-formatted-string/a')
        overall_reviews.append(o_reviews.text)
    except NoSuchElementException:
        overall_reviews.append('-') 
    try:
        p_frm_price=driver.find_element(By.XPATH,'//*[@id="header-author"]/yt-formatted-string/a')
        privates_from_price.append(p_frm_price.text)
    except NoSuchElementException:
        privates_from_price.append('-') 
    try:
        d_price=driver.find_element(By.XPATH,'//*[@id="header-author"]/yt-formatted-string/a')
        dorms_from_price.append(d_price.text)
    except NoSuchElementException:
        dorms_from_price.append('-')
    try:
        property_d=driver.find_element(By.XPATH,'//*[@id="header-author"]/yt-formatted-string/a')
        property_description.append(property_d.text)
    except NoSuchElementException:
        property_description.append('-')

In [188]:
#checking length for all attributes-
len(distance_frm_citycentre),len(hostel_name),len(rating),len(total_reviews),len(overall_reviews),len(private_from_price),len(dorms_from_price)

(61, 41, 61, 61, 61, 21, 61)

In [187]:
# Scraping Data for different Attributes-
hostel_name_tags = driver.find_elements(By.XPATH, '//*[@class="property-name"]')  
for i in hostel_name_tags[0:20]:
    hostel=i.text
    hostel_name.append(hostel)
distance_frm_citycentre_tags = driver.find_elements(By.XPATH, '//*[@class="distance-description"]')  
for i in distance_frm_citycentre_tags[0:20]:
    diatance=i.text
    distance_frm_citycentre.append( diatance)
rating_tags = driver.find_elementsname_tags = driver.find_elements(By.XPATH, '//*[@class="number"]')   
for i in rating_tags[0:20]:
    Rating=i.text
    rating.append(Net_worth)
total_reviews_tags = driver.find_elements(By.XPATH, '//*[@class="review"]')  
for i in total_reviews_tags[0:20]:
    t_reviews=i.text
    total_reviews.append(t_reviews)
overall_reviews_tags = driver.find_elements(By.XPATH, '//*[@id="__layout"]/div/div[2]/div[2]/div[2]/div[1]/div/div/div/div/div[5]/div[17]/a/a/div[2]/div[2]/div/div[1]/span[2]')  
for i in overall_reviews_tags[0:20]:
    o_reviews=i.text
    overall_reviews.append( citi_zen)
private_from_price_tags = driver.find_elements(By.XPATH, '//*[@class="accommodation-price"]')  
for i in private_from_price_tags[0:20]:
    p_form=i.text
    private_from_price.append(p_form)
dorms_from_price_tags = driver.find_elements(By.XPATH, '//*[@class="current"]')  
for i in dorms_from_price_tags[0:20]:
    d_form=i.text
    dorms_from_price.append(d_form)
property_description_tags = driver.find_elements(By.XPATH, '//*[@class="distance-property-type"]')  
for i in property_description_tags[0:20]:
    property_d=i.text
    property_description.append(property_d)

In [190]:
#creating and printing dataframe
df=pd.DataFrame({'hostal':hostel_name[0:20],'distance':distance_frm_citycentre[0:20],'Rating':rating[0:20],
                 'T_reviews':total_reviews[0:20],'o_reviews':overall_reviews[0:20], 'P_form_price':private_from_price[0:20],
                   'dorms_p':dorms_from_price[0:20],'P-Desc':property_description[0:20]})
df

,hostal,distance,Rating,T_reviews,o_reviews,P_form_price,dorms_p,P-Desc
0,-,-,-,-,-,"₹14,089",-,-
1,St Christopher's Village,- 3.6km from city centre,$57.6 B,(15417),Amazon,"₹2,324","₹14,089",Hostel
2,Palmers Lodge - Swiss Cottage,- 1.8km from city centre,$57.6 B,(12508),Amazon,"₹2,377","₹3,214",Hostel
3,Wombat's City Hostel London,- 5.5km from city centre,$57.6 B,(2320),Amazon,"₹17,612\n₹14,089","₹11,971",Hostel
4,St Christopher's Village,- 5.4km from city centre,$57.6 B,(957),Amazon,"₹4,018\n₹3,214","₹2,324",Hostel
5,Onefam Notting Hill,- 3km from city centre,$57.6 B,(7824),Amazon,"₹13,301\n₹11,971","₹6,032",Hostel
6,Urbany Hostel London,- 6.1km from city centre,$57.6 B,(2008),Amazon,"₹2,582\n₹2,324","₹3,605",Hostel
7,Generator London,- 6.5km from city centre,$57.6 B,(15729),Amazon,"₹6,032","₹7,677",Hostel
8,NX London Hostel,- 1.7km from city centre,$57.6 B,(5143),Amazon,"₹3,605","₹2,285",Hostel
9,Palmers Lodge - Swiss Cottage,- 5km from city centre,$57.6 B,(6730),Amazon,"₹7,677","₹3,705",Hostel
10,Safestay London Elephant & Castle,- 5.8km from city centre,$57.6 B,(1678),Amazon,"₹2,285","₹2,377",Hostel
11,Smart Hyde Park Inn Hostel,- 2.6km from city centre,$57.6 B,(10115),Amazon,"₹3,705","₹11,752",Hostel
12,Safestay London Kensington Holland Park,- 3.2km from city centre,$57.6 B,(425),Amazon,"₹3,213\n₹2,377","₹1,726",Hostel
13,Smart Russell Square Hostel,- 1.7km from city centre,$57.6 B,(243),Amazon,"₹11,752","₹1,956",Hostel
14,Clink261,- 4.2km from city centre,$57.6 B,(4476),Amazon,"₹1,726","₹8,949",Hostel
15,Destinations Hostels @ The Gallery,- 5.1km from city centre,$57.6 B,(57),Amazon,"₹2,173\n₹1,956","₹1,726",Hostel
16,Phoenix Hostel,- 11.9km from city centre,$57.6 B,(4531),Amazon,"₹8,949","₹2,681",Hostel
17,Hostelle - women only hostel London,- 5.5km from city centre,$57.6 B,(1993),Amazon,"₹1,726","₹11,583",Hostel
18,London Backpackers,- 3.6km from city centre,$57.6 B,(809),Amazon,"₹2,681","₹3,194",Hostel
19,Barmy Badger Backpackers,- 7.5km from city centre,$57.6 B,(4310),Amazon,"₹11,583","₹4,824",Hostel