Q-1 Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank
B) Name
C) Artist
D) Upload date
E) Views

In [7]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
# Send an HTTP GET request to the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
response = requests.get(url)

In [ ]:
# Parse the HTML content of the page
soup = BeautifulSoup(response.text, "html.parser")

In [ ]:
# Find the table that contains the data for most viewed YouTube videos
table = soup.find("table", {"class": "wikitable"})

In [ ]:
# Create empty lists to store the details
rank_list = []
name_list = []
artist_list = []
upload_date_list = []
views_list = []

In [ ]:
# Find and scrape the data from the table
for row in table.find_all("tr")[1:]:
    columns = row.find_all("td")
    if len(columns) >= 5:
        rank = columns[0].text.strip()
        name = columns[1].text.strip()
        artist = columns[2].text.strip()
        upload_date = columns[3].text.strip()
        views = columns[4].text.strip()

        rank_list.append(rank)
        name_list.append(name)
        artist_list.append(artist)
        upload_date_list.append(upload_date)
        views_list.append(views)

In [5]:
# creating DATAFRAME
df=pd.DataFrame({'rank':rank_list,
'name':name_list,
'artist':artist_list ,
'upload':upload_date_list ,
'view':views_list})

In [6]:
#printing dataframe
df

,rank,name,artist,upload,view
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.48,"June 17, 2016"
1,2.,"""Despacito""[9]",Luis Fonsi,8.28,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.82,"October 8, 2016"
3,4.,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.45,"May 2, 2018"
4,5.,"""Shape of You""[19]",Ed Sheeran,6.11,"January 30, 2017"
5,6.,"""See You Again""[22]",Wiz Khalifa,6.05,"April 6, 2015"
6,7.,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.62,"May 24, 2018"
7,8.,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.52,"March 6, 2014"
8,9.,"""Uptown Funk""[29]",Mark Ronson,5.05,"November 19, 2014"
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,4.99,"February 27, 2018"
10,11.,"""Gangnam Style""[31]",officialpsy,4.92,"July 15, 2012"
11,12.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.56,"January 31, 2012"
12,13.,"""Dame Tu Cosita""[37]",Ultra Records,4.46,"April 5, 2018"
13,14.,"""Axel F""[38]",Crazy Frog,4.09,"June 16, 2009"
14,15.,"""Sugar""[39]",Maroon 5,3.95,"January 14, 2015"
15,16.,"""Counting Stars""[40]",OneRepublic,3.89,"May 31, 2013"
16,17.,"""Roar""[41]",Katy Perry,3.89,"September 5, 2013"
17,18.,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.80,"June 25, 2018"
18,19.,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.75,"June 4, 2010"
19,20.,"""Sorry""[44]",Justin Bieber,3.72,"October 22, 2015"
20,21.,"""Lakdi Ki Kathi""[45]",Jingle Toons,3.71,"June 14, 2018"
21,22.,"""Thinking Out Loud""[46]",Ed Sheeran,3.67,"October 7, 2014"
22,23.,"""Dark Horse""[47]",Katy Perry,3.60,"February 20, 2014"
23,24.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.58,"January 26, 2018"
24,25.,"""Perfect""[49]",Ed Sheeran,3.56,"November 9, 2017"
25,26.,"""Let Her Go""[50]",Passenger,3.53,"July 25, 2012"
26,27.,"""Faded""[51]",Alan Walker,3.53,"December 3, 2015"
27,28.,"""Girls Like You""[52]",Maroon 5,3.50,"May 31, 2018"
28,29.,"""Shree Hanuman Chalisa""[53]",T-Series Bhakti Sagar,3.48,"May 10, 2011"
29,30.,"""Lean On""[54]",Major Lazer Official,3.48,"March 22, 2015"

Q-2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [2]:
import time

In [3]:
from selenium.webdriver.common.by import By

In [53]:
# activating the browser
driver = webdriver.Chrome()

In [54]:
# Open the search URL
driver.get("https://www.bcci.tv/")

In [55]:
cross_button=driver.find_element(By.XPATH,'//button[@class="close-button page-close"]')

In [56]:
cross_button.click()

In [57]:
international_fixture=driver.find_element(By.XPATH,'//*[@id="pills-international-tab"]')

In [58]:
international_fixture.click()

In [59]:
sea_all_button=driver.find_element(By.XPATH,'//*[@id="match-1"]/div[1]')

In [62]:
for _ in range(100):
    driver.execute_script("window.scrollBy(0,200)")

In [63]:
sea_all_button.click()

In [77]:
#initializing list empty
Series=[]
Place=[]
Date=[]
Time=[]

In [78]:
# extracting content from website
Series_tags = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in Series_tags[0:20]:
    series=i.text
    Series.append(series)


Place_tags = driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[2]/div[1]/span[2]')
for i in Place_tags[0:20]:
    place=i.text
    Place.append(place)
    

Date_tags = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')  
for i in Date_tags[0:20]:
    date=i.text
    Date.append(date)   
    
    
Time_tags = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')  
for i in Time_tags[0:20]:
    time_u=i.text
    Time.append(time_u)

In [79]:
len(Series),len(Place),len(Date),len(Time)

(20, 20, 20, 20)

In [80]:
# Dataframe for scrapped data
Cricket=pd.DataFrame({'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
Cricket

,Tournament,Venue,Date,Time
0,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"13 NOVEMBER, 2023",9:00 AM IST
1,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"13 NOVEMBER, 2023",9:00 AM IST
2,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"15 NOVEMBER, 2023",9:00 AM IST
3,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"15 NOVEMBER, 2023",9:00 AM IST
4,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"17 NOVEMBER, 2023",9:00 AM IST
5,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"17 NOVEMBER, 2023",9:00 AM IST
6,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"20 NOVEMBER, 2023",9:00 AM IST
7,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"20 NOVEMBER, 2023",9:00 AM IST
8,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"22 NOVEMBER, 2023",9:00 AM IST
9,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"22 NOVEMBER, 2023",9:00 AM IST
10,AUSTRALIA TOUR OF INDIA 2023-24,Visakhapatnam,"23 NOVEMBER, 2023",7:00 PM IST
11,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"24 NOVEMBER, 2023",9:00 AM IST
12,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"24 NOVEMBER, 2023",9:00 AM IST
13,AUSTRALIA TOUR OF INDIA 2023-24,Thiruvananthapuram,"26 NOVEMBER, 2023",7:00 PM IST
14,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"27 NOVEMBER, 2023",9:00 AM IST
15,QUADRANGULAR MENS U19 ONE DAY SERIES,Vijayawada,"27 NOVEMBER, 2023",9:00 AM IST
16,AUSTRALIA TOUR OF INDIA 2023-24,Guwahati,"28 NOVEMBER, 2023",7:00 PM IST
17,AUSTRALIA TOUR OF INDIA 2023-24,Nagpur,"1 DECEMBER, 2023",7:00 PM IST
18,AUSTRALIA TOUR OF INDIA 2023-24,Hyderabad,"3 DECEMBER, 2023",7:00 PM IST
19,INDIA TOUR OF SOUTH AFRICA 2023-24,Durban,"10 DECEMBER, 2023",9:30 PM IST

Q-3 Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [28]:
driver = webdriver.Chrome()

In [29]:
# Open the search URL
driver.get("http://statisticstimes.com/")

In [40]:
# Creating Empty lists
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [37]:


# Clicking on India under ecomony section
India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

# Clicking Indian State GDP
state = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [41]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
# Extracting state name via Xpath
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    
# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')
    
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    
# Extracting share in billons via Xpath
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via Xpath
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [43]:
# Dataframe for scrap data
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})

Statewise_GDP

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q-4 Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code

In [84]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [81]:
driver = webdriver.Chrome()

In [82]:
from selenium.webdriver.common.by import By

In [85]:
# Opening github webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [86]:
drop_down=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
drop_down.click()

In [87]:
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [88]:

# Clicking on trending option
trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [147]:
#initialize empty list
Title=[]
Description=[]
Count=[]
Language=[]

In [113]:
len(URL)

25

In [148]:
#extracting the data
Title_tags=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in  Title_tags:
    title=i.text
    Title.append(title)
Description_tags=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in  Description_tags:
    desctiption=i.text
    Description.append(desctiption)
Count_tags=driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
for i in  Count_tags[1::2]:
    count=i.text
    Count.append(count)
Language_tags=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in  Language_tags:
    language=i.text
    Language.append(language)

In [149]:
len(Title),len(Description),len(Count),len(Language)

(25, 23, 25, 22)

In [150]:
#creating dataframe
Github=pd.DataFrame({'Title':Title[0:20],'Description':Description[0:20],
                'Contributors_count':Count[0:20],'language_used':Language[0:20]})

Github

,Title,Description,Contributors_count,language_used
0,ByteByteGoHq /,Explain complex systems using visuals and simp...,"1,686",Dart
1,localsend /,An open source cross-platform alternative to A...,886,C++
2,Alex313031 /,Chromium fork named after radioactive element ...,68,TypeScript
3,OpenBMB /,An Autonomous LLM Agent for Complex Task Solving,174,TypeScript
4,lyswhut /,一个基于 electron 的音乐软件,"5,045",Python
5,NVIDIA /,TensorRT Extension for Stable Diffusion Web UI,30,TypeScript
6,epicweb-dev /,Learn the foundational skills of building full...,54,JavaScript
7,TheRealJoelmatic /,"Removes The ""Ad blocker are not allowed on You...",67,Python
8,cloudcommunity /,A curated list of free courses & certifications.,886,Python
9,wagtail /,A Django content management system focused on ...,"3,444",CSS
10,cpacker /,Teaching LLMs memory management for unbounded ...,291,TypeScript
11,0x48piraj /,"Friendly Adblock for YouTube: A fast, lightwei...",24,Python
12,devfullcycle /,A sample app for the Retrieval-Augmented Gener...,56,Python
13,Azure-Samples /,OpenAgents: An Open Platform for Language Agen...,"2,243",JavaScript
14,xlang-ai /,Node.js JavaScript runtime ✨🐢🚀✨,33,C
15,ProfSynapse /,Cockpit is a web-based graphical interface for...,230,TypeScript
16,nodejs /,A powerful cross-platform UI toolkit for build...,"27,395",JavaScript
17,cockpit-project /,🚀 Strapi is the leading open-source headless C...,"1,054",C#
18,ionic-team /,C# application with primary purpose of farming...,"13,689",Python
19,strapi /,Latent Consistency Models: Synthesizing High-R...,"7,142",Python

Q-5 Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [151]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import time

In [152]:
driver = webdriver.Chrome()

In [153]:
# Open the search URL
driver.get("https:/www.billboard.com/ ")

In [156]:
chart_button=driver.find_element(By.XPATH,'//*[@id="mega-menu-item-charts"]/a')

In [157]:
chart_button.click()

In [160]:
hot_hundred=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span')

In [161]:
hot_hundred.click()

In [5]:
from selenium.webdriver.common.by import By

In [209]:
# Creating Empty List
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

In [167]:
for _ in range(550):
    driver.execute_script("window.scrollBy(0,650)")

In [210]:
# Scraping Song Name
Song_tags=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in  Song_tags:
    song=i.text
    Song.append(song)

    
# Scraping Song Artist Name
Artist_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in  Artist_tags[::2]:
    artist=i.text
    Artist.append(artist)
    
# Scraping Song last week rank
Last_Week_rank_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in  Last_Week_rank_tags[::2]:
    last_week=i.text
    Last_Week_rank.append(last_week)

# Scraping Song peak rank
Peak_rank_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"]')
for i in  Peak_rank_tags:
    peak_rank=i.text
    Peak_rank.append(peak_rank)

# Scraping Weeks
Weeks_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in  Weeks_tags[::2]:
    week=i.text
    Weeks.append(week)

In [211]:
len(Song),len(Artist),len(Last_Week_rank),len(Peak_rank),len(Weeks)

(99, 50, 297, 200, 297)

In [217]:

Billboard=pd.DataFrame({'Song_Name':Song[0:50],
                'Artist_Name':Artist[0:50],
                'Last_week_rank':Last_Week_rank[0:50],
                'Peak':Peak_rank[0:50],
                'Weeks_on_chart':Weeks[0:50]})
print('\033[1m'+'Billboard Hot 100 Songs :'+'\033[0m')
Billboard

Billboard Hot 100 Songs :

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,IDGAF,Drake Featuring Yeat,,,
1,Virginia Beach,Doja Cat,,1,
2,Paint The Town Red,Drake Featuring SZA,2,,2
3,Calling For You,Drake,,2,
4,Slime You Out,Drake,,,
5,Snooze,Drake Featuring Bad Bunny,3,3,3
6,Daylight,Zach Bryan Featuring Kacey Musgraves,,,
7,Cruel Summer,Drake,,1,
8,Fear Of Heights,Drake,1,,1
9,Rich Baby Daddy,Drake,,5,
10,Gently,Olivia Rodrigo,,,
11,Fast Car,Drake Featuring PARTYNEXTDOOR,5,1,5
12,I Remember Everything,Drake Featuring Chief Keef,,,
13,Amen,Dua Lipa,,2,
14,7969 Santa,Tate McRae,1,,1
15,8am In Charlotte,Drake,,8,
16,What Would Pluto Do,Jelly Roll,,,
17,Last Night,Drake,2,3,2
18,Bahamas Promises,Miley Cyrus,,,
19,Tried Our Best,Lainey Wilson,,10,
20,Vampire,Drake,8,,8
21,Fukumean,SZA,,11,
22,Members Only,Billie Eilish,,,
23,Thinkin' Bout Me,"Usher, Summer Walker & 21 Savage",3,12,3
24,All The Parties,"Metro Boomin, The Weeknd & 21 Savage",,,
25,Drew A Picasso,David Kushner,,2,
26,Dance The Night,Mitski,10,,10
27,Another Late Night,Travis Scott,,1,
28,Greedy,Jung Kook & Jack Harlow,,,
29,Barbie World,Karol G & Peso Pluma,11,15,11
30,Away From Home,Selena Gomez,,,
31,Flowers,"Peso Pluma, Gabito Ballesteros & Junior H",,16,
32,Need A Favor,Paul Russell,12,,12
33,Religiously,Rod Wave,,17,
34,BBL Love Interlude,Bad Bunny,,,
35,Polar Opposites,Zach Bryan Featuring The War And Treaty,2,18,2
36,Used To Be Young,Noah Kahan,,,
37,Bad Idea Right?,Noah Kahan With Kacey Musgraves,,1,
38,Watermelon Moonshine,Morgan Wallen,1,,1
39,Anti-Hero,Maluma & Carin Leon,,20,
40,Screw The World Interlude,*NSYNC,,,
41,Dial Drunk,Sexyy Red,15,21,15
42,Kill Bill,Grupo Frontera & Grupo Firme,,,
43,All My Life,Karol G,,1,
44,What Was I Made For?,Dylan Scott,16,,16
45,What It Is (Block Boy),Zach Bryan,,4,
46,Good Good,Tim McGraw,,,
47,Wild Ones,Russell Dickerson,17,24,17
48,Creepin',Travis Scott Featuring SZA & Future,,,
49,White Horse,Dustin Lynch,,9,

In [ ]:
Q-6 Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [1]:


import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

from selenium.webdriver.common.by import By

In [2]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [3]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [5]:
# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [6]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
Q-7 Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have
to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [19]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [32]:


# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [33]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [34]:
# Scraping Name via Xpath
try:
    name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [35]:
len(Name),len(Year_Span),len(Genre),len(Run_Time),len(Ratings),len(Votes)

(100, 100, 100, 100, 100, 100)

In [37]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})

IMDB_TV

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,212,663"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,282,640"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,049,882"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"308,505"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"267,469"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"52,940"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,010"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"211,829"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,085"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"269,223"

In [ ]:
Q-8 Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [220]:


import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

from selenium.webdriver.common.by import By

In [221]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [222]:
dataset_button=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
dataset_button.click()
time.sleep(1)

In [235]:
# Scraping repositories URL
product_URL= []
link=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in link:
    product_URL.append(i.get_attribute('href'))

In [236]:
print(product_URL)

['https://archive.ics.uci.edu/dataset/53/iris', 'https://archive.ics.uci.edu/dataset/45/heart+disease', 'https://archive.ics.uci.edu/dataset/2/adult', 'https://archive.ics.uci.edu/dataset/109/wine', 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic', 'https://archive.ics.uci.edu/dataset/34/diabetes', 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset', 'https://archive.ics.uci.edu/dataset/19/car+evaluation', 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik', 'https://archive.ics.uci.edu/dataset/186/wine+quality']

In [229]:
# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [237]:
# Scraping DataSet Name via Xpath
from tqdm import tqdm
for URL in product_URL:
    driver.get(URL)
    time.sleep(20)
try:
    dataset=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
    Dataset.append(dataset.text)
    time.sleep(5)
except NoSuchElementException:
    Dataset.append('NA')
    
# Scraping Data Type via Xpath
try:
    Type=driver.find_element(By.XPATH,'//p[@class="text-md"]')
    Data_Type.append(Type.text)
    time.sleep(5)
except NoSuchElementException:
    Data_Type.append('NA')
    
# Scraping Task via Xpath
try:
    task=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
    Task.append(task.text)
    time.sleep(5)        
except NoSuchElementException:
    Task.append('NA')
    
# Scraping Attribute_Type via Xpath
try:
    attribute_Type=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
    Attribute_Type.append(attribute_Type.text)
    time.sleep(5)  
except NoSuchElementException:
    Attribute_Type.append('NA')
    
# Scraping No_of_Instances via Xpath
try:
    no_of_Instances=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
    No_of_Instances.append(no_of_Instances.text)
    time.sleep(5)
except NoSuchElementException:
    No_of_Instances.append('NA')

# Scraping No_of_Attribute via Xpath
try:
    no_of_Attribute=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
    No_of_Attribute.append(no_of_Attribute.text)
    time.sleep(5)
except NoSuchElementException:
    No_of_Attribute.append('NA')
    
# Scraping Year via Xpath
try:
    year=driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
    Year.append(year.text)
    time.sleep(5)
except NoSuchElementException:
    Year.append('NA')

In [227]:
expand_all_button= driver.find_element(By.XPATH,'//span[@class="swap-on text-primary-content"]')
expand_all_button.click()

In [233]:
# Scraping Data for different Attributes-

dataset_tags = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in dataset_tags:
    dataset=i.text
    Dataset.append(dataset)


datatype_tags = driver.find_elements(By.XPATH,'//p[@class="truncate"]')
for i in datatype_tags[0:10]:
    datatype=i.text
    Data_Type.append(datatype)
    

Task_tags = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')  
for i in Task_tags[0:10]:
    tsk=i.text
    Task.append(tsk)   
    
    
Attribute_Type_tags = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')  
for i in Attribute_Type_tags[0:10]:
    attribute=i.text
    Attribute_Type.append(attribute)

No_of_Instances_tags = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')  
for i in No_of_Instances_tags[0:10]:
    number=i.text
    No_of_Instances.append(number)

No_of_Attribute_tags = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')  
for i in No_of_Attribute_tags[0:10]:
    attribute_nu=i.text
    No_of_Attribute.append(attribute_nu)

Year_tags = driver.find_elements(By.XPATH,'//h2[@class="text-sm text-primary-content"]')  
for i in Year_tags[0:10]:
    year=i.text
    Year.append(year)

In [238]:
len(Dataset),len(Data_Type),len(Task),len(Attribute_Type),len(No_of_Instances),len(Year)

(21, 11, 1, 1, 1, 1)

In [239]:
print(Data_Type)

['A small classic dataset from Fisher, 1936. One of the earliest known datasets used for evaluating classification methods.', '4 databases: Cleveland, Hungary, Switzerland, and the VA Long Beach', 'Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.', 'Using chemical analysis to determine the origin of wines', 'Diagnostic Wisconsin Breast Cancer Database.', "This diabetes dataset is from AIM '94", 'Images of 13,611 grains of 7 different registered dry beans were taken with a high-resolution camera. A total of 16 features; 12 dimensions and 4 shape forms, were obtained from the grains.', 'Derived from simple hierarchical decision model, this database may be useful for testing constructive induction and structure discovery methods.', "A total of 3810 rice grain's images were taken for the two species, processed and feature inferences were made. 7 morphological features were obtained for each grain of rice.", 'Two datasets are included, related to red and white vinho verde wine samples, from the north of Portugal. The goal is to model wine quality based on physicochemical tests (see [Cortez et al., 2009], http://www3.dsi.uminho.pt/pcortez/wine/).', 'Multivariate']

In [240]:
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset[0:3],
                'Data Type':Data_Type[0:3],
                'Task':Task[0:3],
                'Attribute Type':Attribute_Type[0:3],
                'No of Instances':No_of_Instances[0:3],
                'No of Attribute':No_of_Attribute[0:3],
                'Year':Year[0:3]})
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

ValueError: All arrays must be of the same length